# Electron and Node.js
/node_modules
npm-debug.log
.DS_Store
*.swp
*.bak
dist/
build/
*.exe
*.dmg
*.zip
*.tar.gz

# Vscode settings
.vscode/

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.log